html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
    }
body{font-family: "微软雅黑";text-align: center;}

a{
    text-indent: 1em;
    display: inline-block;
    font-size: 25px;
    color:blue;
}
a:nth-child(1){text-indent: 0;}
a:link,a:visited{text-decoration: none;}
a:hover{
    text-decoration: underline;
    color:forestgreen;
}
dl{display: none;}

:target{display: block;}
img{
    width: 800px;
    height: 500px;

}