
.hm_category_left{
    width: 90px;
    height: 100%;
    overflow: hidden;
    float: left;
}
.hm_category_left>ul{
    width: 90%;
    padding: 10px 0; 
    display: flex;
    flex-wrap:wrap;
}
.hm_category_left>ul>li{
    width: 90px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-right:1px solid #ccc;
    border-bottom: 1px solid #ccc; 
}
.hm_category_left>ul>li a{
    display: block;
}
.hm_category_left>ul>li.now{
    border-right:none; 
}
.hm_category_left>ul>li.now a{
    color: #d8505c;
}
.hm_category_right{
    overflow: hidden;
    height: 100%;
  
}
.hm_category_right_box{
    padding: 0 13px;
}
.hm_category_right_box .banner{
    width: 100%;
    display: block;
}
.hm_category_right_box .banner img{
    width: 100%;
}
.hot_cat h3{
    font-size: 20px;
}
.hot_cat ul li{
    width: 33.333%;
    float: left;
    list-style: none;
    
}
.hot_cat ul li a{
    display: block;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
}
.hot_cat ul li a img{
    width: 62px;
    height: 62px;
    margin: 0 auto;
    display: block;
}
::before,
::after{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: "MicroSoft YaHei",sans-serif;
    color: #333
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
input{
    border: none;
    outline: none;
    -webkit-appearance: none;
}
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
[class^="icon_"]{
    background: url("")no-repeat;
    background-size: 200px 200px;
}
.m_110{
    margin-left: 10px;
}
.m_r10{
    margin-right: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
.m_t10{
    margin-top: 10px;
}
.hm_topBar{
    width: 70%;
    height: 30px;
    background:url()repeat-x;
    background-size: 1px 44px;
    border-bottom: 1px solid #ccc;
    position: absolute;
}
.hm_topBar>[class^="icon_"]{
    position: absolute;
    top: 0;
    height: 44px;
    width: 40px;
    padding: 12px 10px;
    background-clip: content-box;
    background-origin: border-box;
}
.hm_topBar>.icon_back{
    left: 0;
    background-position: -20px 0;
}
.hm_topBar>.icon_menu{
    right: 0;
    background-position: -60px 0;
}
.hm_topBar>form{
    width: 100%;
    height: 44px;
    padding: 0 40px;
}
.hm_topBar>form>input{
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    height: 30px;
}
.hm_topBar>h3{
    text-align: center;
    line-height: 44px;
    font-weight: normal;
}


.hm_topBar >.icon_back>img{
    width: 100%;
    position: relative;
    top: -15px;
    left: -15px; 
    
}
.hm_topBar >.icon_menu>img{
    width: 100%;
    position: relative;
    top: -15px;
    left: 90px; 
}
